.container {
    z-index: 0;
    color: white;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 1100px;
}

.containerDetails {
    margin: auto;
    max-width: 70%;
}

.span {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 1em;
}

.title, .projectOCR, .details, .functionality, .technologies {
    padding: 1em!important; 
}

.details {
    text-align: justify;
}

.projectOCR {
    text-align: center;
}

#close {
    cursor: pointer;
    margin-left: 100%;
}

.title {
    text-align: center;
    font-family: 'Sniglet', cursive;
    color: #f99d52;
    padding: 0!important;
}

.functionalityList {
    margin-left: 2em;
}

.button {
    margin: auto;
}

.projectLink {
    text-decoration: none;
    color:inherit;
}

.projectLink:hover {
    color: white;
}

@media all and (min-width: 992px) {

    .container {
        height: 100vh;
    }

    .containerDetails {
        max-width: 50%;
    }

}

@media all and (min-width: 1200px) {

  .container  {
      max-width: 50%;
  }

  .containerDetails {
        max-width: 100%;
    }

}